{% extends "layout/base.html" %}

{% block crud_content %}
<h2>{{ model_verbose_name_plural }}</h2>

<a href="{% url 'devflow:'|add:model_key|add:'_create' %}">
    ➕ Créer
</a>

<form method="get">
    <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Recherche...">
</form>

<ul>
{% for item in items %}
    <li>
        {{ item }}
        <a href="{% url 'devflow:'|add:model_key|add:'_detail' item.pk %}">Voir</a>
    </li>
{% empty %}
    <li>Aucune donnée</li>
{% endfor %}
</ul>
{% endblock %}