{% extends "project/_generic_form.html" %}
{% block form_title %}{% if object %}Modifier ligne{% else %}Nouvelle ligne{% endif %}{% endblock %}
{% block form_heading %}{% if object %}Modifier la ligne de facture{% else %}Ajouter une ligne à la facture{% endif %}{% endblock %}
{% block form_subtitle %}Le total HT est calculé automatiquement à partir de la quantité × prix unitaire.{% endblock %}
{% block back_url %}{% url 'invoice_list' %}{% endblock %}
{% block cancel_url %}{% url 'invoice_list' %}{% endblock %}
